{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}
  Forgot - Webcog
{% endblock title %}
{% block content %}

<div class="container">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Forgot Password</span></h2>
    </div>
    <form method="post">
        {% csrf_token %}

       
        <div>
            <label for="" class="form-label my-3">Email<span class="text-danger fw-bold">*</span></label>
            <!-- {{ form }} -->
            {% render_field form.email  class="form-control p-4" placeholder="Email"  %}
           
        </div>


      
        <br>
        <div>
            <button type="submit" class="btn btn-primary btn-block border-0 py-3">Sent Reset Link</button>
        </div>
    </form>

   
</div>


{% endblock content %}