{% extends "base.html" %}
{% block title %}
  Forgot - Webcog
{% endblock title %}
{% block content %}

<div class="container">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Forgot Password</span></h2>
    </div>
    <form action="">
        <div>
            <p class="text-center">We Have Sent an Email to Your <b> Mail Box</b></p>    
        </div>


        <a class="btn btn-primary btn-block border-0 py-3" href="{% url 'for_three' %}">Three</a>

    </form>

   
</div>


{% endblock content %}