{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
  CHange Password - Webcog
{% endblock title %}
{% block content %}

<div class="container">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Password Change </span></h2>
    </div>
    <form method="post">
        {% csrf_token %}


        {% comment %} {{form}}  {% endcomment %}


    
        <div class="row">
          

            <div class="col-md-12">
                <label for="" class="form-label my-3">Old Password<span class="text-danger fw-bold">*</span></label>
                {% render_field form.old_password  class="form-control p-4" placeholder="Old Password"  %}

                {% comment %} <input type="password" name="password1" class="form-control p-4" placeholder="Old Passowrd" required> {% endcomment %}
            </div>
           


            <div class="col-md-12">
                <label for="" class="form-label my-3">New Password<span class="text-danger fw-bold">*</span></label>
                {% render_field form.new_password1  class="form-control p-4" placeholder="New Password"  %}

                {% comment %} <input type="password" name="password1" class="form-control p-4" placeholder="Passowrd" required> {% endcomment %}
            </div>
            
            <div class="col-md-12">
                <label for="" class="form-label my-3">Confirm Password<span class="text-danger fw-bold">*</span></label>
                {% render_field form.new_password2  class="form-control p-4" placeholder="Confirm Password"  %}

                {% comment %} <input type="password" name="password2" class="form-control p-4" placeholder="Confirm Passowrd" required> {% endcomment %}
            </div>

         

            <div class="col-md-12 mt-3">
                <button type="submit" class="btn btn-primary btn-block border-0 py-3">Chnage Password</button>
            </div>
        
    </div>
    </form>


</div>


{% endblock content %}